@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: white;
  color: rgb(79, 20, 138);
}

img {
  width: 220px;
  height: 200px;
  object-fit: cover;
}

nav {
  background-color: rgb(244, 148, 225);
  object-fit: cover;
  width: 100%;
  z-index: 1;
  /*fijar navegador
  position: fixed;
  width: 100%;
  */
}

.navegador .fa-bars {
  display: none;
}

@media (max-width: 768px) {
  .navegador {
    background-color: #c749e7;
    z-index: 2;
  }
  .navegador .fa-bars {
    margin: 10px;
    font-size: 35px;
    color: #460d43;
    order: -1;
    display: block;
  }
  .navegador .fa-bars:hover + ul {
    left: 0;
  }
  .navegador ul {
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 100vh;
    background-color: #f1b7e7;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    transition: 0.5s;
  }
  .navegador ul:hover {
    left: 0;
  }
}
.navegador {
  position: sticky;
  /*position: fixed;*/
  top: 0%;
  display: flex;
  justify-content: space-between;
}
.navegador ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.navegador ul li a {
  color: rgb(158, 4, 150);
  text-decoration: none;
  padding: 10px;
  text-decoration: solid;
}
.navegador img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50px;
  margin: 5px;
}

/*fin spa whats*/
/*...fin main...*/
/* productos*/
.tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.tarjetas img {
  transition: 0.5s;
}
.tarjetas img:hover {
  transform: scale(1.05);
  /*transform: translate(5px,5px);*/
}

.productos-venta {
  width: 250px;
  border: 2px solid blueviolet;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  color: blueviolet;
  border: solid #eeb4ef;
  font-size: 15px;
  font-weight: bold;
  background-image: linear-gradient(45deg, rgb(197, 232, 248), rgb(206, 125, 215), rgb(239, 78, 212));
  /*radial-gradient*/
  object-fit: cover;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: baseline;
  /*overflow-y: scroll;*/
}
.productos-venta h4 {
  font-size: 20px;
}
.productos-venta p {
  color: rgb(80, 60, 164);
}
.productos-venta ul li {
  list-style: none;
}
.productos-venta button {
  background-color: #e957dd;
  color: #fff;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  width: 120px;
  object-fit: center;
}

.spa-whats {
  position: fixed;
  height: 55px;
  width: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: rgb(234, 62, 159);
  color: azure;
  border-radius: 50px;
  text-align: center;
  font-size: 40px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  object-fit: cover;
}

.spa-whats:hover {
  text-decoration: none;
  color: rgb(246, 4, 166);
  background: white;
}

.content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

.logo {
  text-align: center;
  font-size: 3em;
}
.logo span {
  color: rgb(241, 53, 251);
}

.contact-wraper {
  box-shadow: 0 0 20px 0 rgba(253, 8, 8, 0.3);
}

.contact-wraper > * {
  padding: 1em;
}

.contact-form {
  background: rgb(255, 197, 245);
}
.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-form form .block {
  grid-column: 1/3;
}
.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  color: blueviolet;
  border-bottom: 1px solid purple;
}

.contact-form form button {
  background: rgb(178, 71, 173);
  color: white;
  text-transform: uppercase;
  padding: 1em;
}
.contact-form form button:hover {
  background: rgb(115, 56, 198);
  color: rgb(255, 0, 136);
  transition: background-color 0.5s ease-out;
}

.contact-info {
  background: rgb(228, 124, 228);
}
.contact-info ul {
  list-style: none;
  padding: 0;
}
.contact-info ul li {
  padding: 0.3em;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

@media (min-width: 700px) {
  body {
    padding: 0 4rem;
  }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    padding: 1em;
    text-align: left;
  }
}
.video-danza {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.grid-padre {
  display: grid;
  margin: 10px;
  gap: 10px;
  object-fit: cover;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(6, 200px);
  grid-template-areas: "img1 img1 img2 img3" "img1 img1 img4 img4" "img5 img7 img7 img8" "img6 img7 img7 img8" "img9 img9 img9 img8" "img10 img11 img11 img12";
}

.img1 {
  grid-area: img1;
  background-image: url(../multimedia/img/Spanda.jpg);
  background-size: cover;
  color: rgb(216, 11, 79);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.img1 h3 {
  font-size: 32px;
}

.img1 p {
  font-size: 20px;
  text-align: center;
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.img5 {
  grid-area: img5;
}

.img6 {
  grid-area: img6;
}

.img7 {
  grid-area: img7;
}

.img8 {
  grid-area: img8;
}

.img9 {
  grid-area: img9;
}

.img10 {
  grid-area: img10;
}

.img11 {
  grid-area: img11;
}

.img12 {
  grid-area: img12;
}

.grid-padre img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.proximos-talleres {
  text-align: center;
  color: #b2089c;
}

.pagina-principal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.musica {
  width: 300px;
  border-radius: 5px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.carousel-item {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.quienes-somos {
  justify-content: space-around;
  margin: 15px;
}

.detras-magia {
  justify-content: space-around;
  margin: 15px;
}

.inspiracion {
  justify-content: space-around;
  margin: 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  background-color: rgb(255, 165, 225);
  padding: 80px 0;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-links {
  width: 25%;
  padding: 0 15px;
}
.footer-links h4 {
  font-size: 20px;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid;
  padding-bottom: 10px;
  display: inline-block;
}
.footer-links ul li {
  list-style: none;
}
.footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #640954;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
.footer-links ul li a:hover {
  color: rgb(252, 252, 252);
  padding-left: 6px;
}

.social-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgb(219, 158, 234);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: rgb(161, 0, 137);
  transition: all 0.5s ease;
}
.social-link a:hover {
  background-color: azure;
}

@media (max-width: 991px) {
  .footer-row {
    text-align: center;
  }
  .footer-links {
    width: 100%;
    margin-bottom: 30px;
  }
}
body {
  background-image: url(../multimedia/img/fondo\ de\ pantalla.jpeg);
}

.politica {
  width: 100%;
  justify-content: center;
  text-align: left;
  text-decoration: none;
  flex-direction: row;
}

.blue {
  color: blue;
}

.yellow {
  color: yellow;
}

.black {
  color: black;
}

.red {
  color: red;
}

img {
  width: 220px;
  height: 200px;
  object-fit: cover;
}

/*# sourceMappingURL=styles.css.map */
