@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: white;
  color: rgb(79, 20, 138);
}

img {
  width: 220px;
  height: 200px;
  object-fit: cover;
}

nav {
  background-color: rgb(244, 148, 225);
  object-fit: cover;
  width: 100%;
  /*fijar navegador
  position: fixed;
  width: 100%;
  */
}

.navegador .fa-bars {
  display: none;
}

@media (max-width: 768px) {
  .navegador {
    background-color: #b060ea;
  }
  .navegador .fa-bars {
    margin: 10px;
    font-size: 35px;
    color: #ee33bf;
    order: -1;
    display: block;
  }
  .navegador .fa-bars:hover + ul {
    left: 0;
  }
  .navegador ul {
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 100vh;
    background-color: #f1b7e7;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    transition: 0.5s;
  }
  .navegador ul:hover {
    left: 0;
  }
}
.navegador {
  position: sticky;
  /*position: fixed;*/
  top: 0%;
  display: flex;
  z-index: 1;
}
.navegador ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.navegador ul li a {
  color: rgb(158, 4, 117);
  font-size: 1.1rem;
  text-decoration: none;
  padding: 10px;
  text-decoration: solid;
}
.navegador ul li a:hover {
  color: blue;
  transition: 0.5s ease;
}

.section {
  padding: 100px 14%;
}

.home {
  min-height: 100vh;
  width: 100%;
  background: url(../multimedia/img/naturaleza.jpg);
  background-size: cover;
  background-position: center top;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  color: rgb(0, 0, 0);
}

.home-text h1 {
  padding-left: 25px;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.6rem;
  margin-bottom: 1.4rem;
}
.home-text span {
  font-size: 2.7rem;
  color: rgb(0, 0, 0);
}

.home-text p {
  padding-left: 25px;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 3rem;
  letter-spacing: 2rem;
  color: rgb(99, 28, 125);
}

.btn {
  padding-left: 25px;
  display: inline-block;
  padding: 13px 25px;
  background: rgb(142, 10, 186);
  color: rgb(242, 203, 240);
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 5px;
  transition: all 0.35s ease;
}
.btn:hover {
  background-color: rgb(198, 153, 196);
  color: rgb(142, 10, 186);
}

.center-text {
  padding-left: 25px;
  text-align: center;
}
.center-text h2 {
  font-size: 2.5rem;
}

.featured-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  gap: 1.3rem;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.row {
  position: relative;
  transition: all 0.35 ease;
}
.row img {
  width: 100%;
}

.fea-text {
  position: absolute;
  top: 40px;
  left: 50px;
}
.fea-text h5 {
  font-size: 19px;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  color: rgb(255, 0, 221);
}
.fea-text p {
  color: aqua;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 400;
}

.row .arrow {
  position: absolute;
  bottom: 40px;
  left: 50px;
}
.row .arrow i {
  height: 35px;
  width: 35px;
  background-color: rgb(255, 0, 212);
  border-radius: 50%;
  font-size: 20px;
  color: pink;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s ease;
}

.row:hover {
  transform: scale(0.9) translateY(-4px);
  cursor: pointer;
}
.row:hover i {
  background-color: crimson;
  color: chartreuse;
}

.cta {
  height: 60vh;
  width: 100%;
  background: url(../multimedia/img/vainilla.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-top: 2vh;
}

.cta-text h6 {
  padding-left: 25px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.6px;
  margin-bottom: 14px;
}

.cta-text h4 {
  padding-left: 25px;
  font-size: 3.3rem;
  line-height: 1.2;
  letter-spacing: 0.6rem;
  margin-bottom: 30px;
}

.new-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  gap: 1.3rem;
  align-items: center;
  margin-top: 4rem;
  text-align: center;
}

.box {
  position: relative;
  transition: all 0.4s ease;
}
.box:hover {
  transform: scale(0.9) translate(-5px);
  cursor: pointer;
}
.box img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}
.box h5 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.box h6 {
  font-size: 16px;
  font-weight: 700;
}
.box h4 {
  font-size: 12px;
}

.sale {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 30px;
  background-color: rgb(174, 50, 228);
  color: rgb(244, 199, 236);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sale:hover {
  background-color: rgb(244, 199, 236);
  color: rgb(174, 50, 228);
}

.spa-whats {
  position: fixed;
  height: 55px;
  width: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: rgb(246, 4, 166);
  color: rgb(255, 255, 255);
  border-radius: 50px;
  text-align: center;
  font-size: 40px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  object-fit: cover;
}

.spa-whats:hover {
  text-decoration: none;
  color: rgb(246, 4, 166);
  background: rgb(255, 255, 255);
}

.content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

.logo {
  text-align: center;
  font-size: 3em;
}
.logo span {
  color: rgb(241, 53, 251);
}

.contact-wraper {
  box-shadow: 0 0 20px 0 rgba(253, 8, 8, 0.3);
}

.contact-wraper > * {
  padding: 1em;
}

.contact-form {
  background: rgb(255, 197, 245);
}
.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-form form .block {
  grid-column: 1/2;
}
.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  color: blueviolet;
  border-bottom: 1px solid purple;
}

.contact-form form button {
  background: rgb(178, 71, 173);
  color: white;
  text-transform: uppercase;
  padding: 1em;
}
.contact-form form button:hover {
  background: rgb(115, 56, 198);
  color: rgb(255, 0, 136);
  transition: background-color 0.5s ease-out;
}

.contact-info {
  background: rgb(228, 124, 228);
}
.contact-info ul {
  list-style: none;
  padding: 0;
}
.contact-info ul li {
  padding: 0.3em;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

@media (min-width: 770px) {
  body {
    padding: 0 4rem;
  }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    padding: 1em;
    text-align: left;
  }
}
.video-danza {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.titulo {
  text-align: center;
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.carousel-item img {
  height: 35rem;
  position: relative;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  padding-bottom: 20px;
}

.titulo-talleres {
  text-align: center;
  font-size: 50px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.heading-1 {
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
}

.container-hero {
  background-color: rgb(233, 122, 225);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.hero i {
  font-size: 3rem;
}

.container-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.container-logo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.container-logo h1 a {
  text-decoration: none;
  color: rgb(155, 38, 228);
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.container-user {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
.container-user .fa-user {
  font-size: 2rem;
  color: rgb(171, 28, 223);
  padding-right: 1.1rem;
  padding-left: 2rem;
  border-right: 1px solid rgb(247, 24, 136);
}
.container-user .fa-user:hover {
  color: rgb(38, 31, 241);
  transition: 0.5s ease;
}
.container-user .fa-basket-shopping {
  font-size: 2rem;
  color: rgb(171, 28, 223);
  padding-left: 0.1rem;
}
.container-user .fa-basket-shopping:hover {
  color: rgb(38, 31, 241);
  transition: 0.5s ease;
}

.content-shopping-cart {
  display: flex;
  flex-direction: column;
}

/*nb*/
.container-navbar {
  background-color: rgb(221, 88, 224);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.navbar .fa-bars {
  display: none;
}

.menu {
  display: flex;
  gap: 2rem;
}
.menu li {
  list-style: none;
}
.menu a {
  text-decoration: none;
  font-size: 1.3rem;
  color: rgb(235, 35, 218);
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}
.menu a::after {
  content: "";
  width: 1.5rem;
  height: 1px;
  background-color: aliceblue;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
  transition: all 0.3s ease;
}
.menu a:hover::after {
  opacity: 1;
}
.menu a:hover {
  color: aliceblue;
}

.banner {
  background-image: linear-gradient(100deg, rgba(0, 0, 0, 0.742), rgba(186, 166, 166, 0.079)), url(../multimedia/img/primavera.jpg);
  height: 60rem;
  background-size: cover;
  background-position: center;
}

.content-banner {
  max-width: 90rem;
  margin: 0 auto;
  padding: 25rem 10rem;
}
.content-banner p {
  color: rgb(191, 152, 227);
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
.content-banner h2 {
  color: rgb(195, 0, 255);
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.content-banner a {
  margin-top: 2rem;
  text-decoration: none;
  color: rgb(254, 250, 255);
  background-color: rgb(209, 113, 194);
  display: inline-block;
  padding: 1rem 3rem;
  text-transform: uppercase;
  border-radius: 3rem;
}

.container-features {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  gap: 3rem;
  padding: 3rem 0;
}

.card-feature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: rgb(249, 161, 236);
  border-radius: 1rem;
  padding: 1.5rem 1;
}
.card-feature i {
  font-size: 2rem;
  color: rgb(202, 43, 226);
  padding: 3px;
}

@media (max-width: 991px) {
  .card-feature {
    display: none;
  }
}
.feature-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.feature-content span {
  font-weight: 700;
  font-size: 1rem;
  color: rgb(196, 15, 224);
}
.feature-content p {
  color: rgb(240, 64, 196);
  font-weight: 500;
  font-size: 10px;
}

.top-categories {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 10rem;
}
.top-categories .container-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.card-category {
  height: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  gap: 2rem;
}
.card-category p {
  font-size: 2.5rem;
  color: white;
  text-transform: capitalize;
  position: relative;
}
.card-category p::after {
  content: "";
  width: 2.5rem;
  height: 2px;
  background-color: aqua;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%, 50%);
}
.card-category span {
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.card-category span:hover {
  color: blue;
}

.category-velas {
  background-image: linear-gradient(rgba(171, 92, 92, 0.5333333333), rgba(245, 209, 209, 0.1098039216)), url(../multimedia/img/velas.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}

.category-aceites {
  background-image: linear-gradient(rgba(171, 92, 92, 0.5333333333), rgba(245, 209, 209, 0.1098039216)), url(../multimedia/img/verano.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}

.category-ceras {
  background-image: linear-gradient(rgba(171, 92, 92, 0.5333333333), rgba(245, 209, 209, 0.1098039216)), url(../multimedia/img/kits\ iniciales.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}

.top-products {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
  padding: 15px;
}

.container-options {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.container-options span {
  color: rgb(238, 0, 255);
  background-color: rgb(255, 165, 232);
  padding: 0.7rem 3rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  border-radius: 2rem;
  cursor: pointer;
}
.container-options span:hover {
  background-color: rgb(238, 0, 255);
  color: rgb(255, 165, 232);
}
.container-options span.active {
  background-color: rgb(238, 0, 255);
  color: rgb(255, 165, 232);
}

@media (max-width: 991px) {
  .container-options {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.container-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
}

.card-product {
  background-color: rgb(253, 200, 248);
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0 2px rgb(255, 2, 242);
}
.card-product:hover .discount {
  background-color: rgb(149, 0, 255);
  color: white;
}
.card-product:hover .button-group {
  z-index: 0;
  right: -2.9rem;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 0;
  right: -3rem;
  z-index: -1;
  transition: all 0.4s ease;
}
.button-group span {
  border: 1px solid black;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease;
}
.button-group span:hover {
  background-color: rgb(183, 43, 226);
  color: whitesmoke;
}
.button-group span i {
  font-size: 0.9rem;
  color: rgb(255, 255, 255);
}

.container-img {
  position: relative;
}
.container-img img {
  width: 100%;
  z-index: 0;
}
.container-img .discount {
  position: absolute;
  left: 0;
  background-color: aqua;
  color: rgb(29, 1, 1);
  padding: 2px 1.2rem;
  border-radius: 1rem;
  font-size: 1.2rem;
}

.content-card-product {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, min-content);
  row-gap: 1rem;
}
.content-card-product h3 {
  grid-row: 2/3;
  grid-column: 1/-1;
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.content-card-product h3:hover {
  color: blue;
}
.content-card-product .price {
  justify-self: end;
  align-self: center;
  font-size: 1.4rem;
  font-weight: 600;
}
.content-card-product .price span {
  font-size: 1.2rem;
  font-weight: 200;
  text-decoration: line-through;
  color: rgb(182, 124, 240);
  margin-left: 0.5rem;
}

.stars {
  grid-row: 1/2;
  grid-column: 1/-1;
}
.stars i {
  font-size: 1.3rem;
  color: rgb(175, 2, 218);
}

.add-cart {
  justify-self: start;
  border: 2px solid rgb(232, 61, 212);
  padding: 1.7rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(217, 0, 255);
  color: aliceblue;
}
.add-cart:hover {
  color: rgb(217, 0, 255);
  background-color: aliceblue;
}
.add-cart i {
  font-size: 1.5rem;
}

.content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

.logo {
  text-align: center;
  font-size: 3em;
}
.logo span {
  color: rgb(241, 53, 251);
}

.contact-wraper {
  box-shadow: 0 0 20px 0 rgba(253, 8, 8, 0.3);
}

.contact-wraper > * {
  padding: 1em;
}

.contact-form {
  background: rgb(255, 197, 245);
}
.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-form form .block {
  grid-column: 1/3;
}
.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  color: blueviolet;
  border-bottom: 1px solid purple;
}

.contact-form form button {
  background: rgb(178, 71, 173);
  color: white;
  text-transform: uppercase;
  padding: 1em;
}
.contact-form form button:hover {
  background: rgb(115, 56, 198);
  color: rgb(255, 0, 136);
  transition: background-color 0.5s ease-out;
}

.contact-info img {
  border-radius: 50%;
  align-items: center;
  height: auto;
  width: auto;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

@media (min-width: 700px) {
  body {
    padding: 0 4rem;
  }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    padding: 1em;
    text-align: left;
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  background-color: rgb(255, 165, 225);
  padding: 80px 0;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-links {
  width: 25%;
  padding: 0 15px;
}
.footer-links h4 {
  font-size: 20px;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid;
  padding-bottom: 10px;
  display: inline-block;
}
.footer-links ul li {
  list-style: none;
}
.footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #640954;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
.footer-links ul li a:hover {
  color: rgb(252, 252, 252);
  padding-left: 6px;
}

.social-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgb(219, 158, 234);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: rgb(161, 0, 137);
  transition: all 0.5s ease;
}
.social-link a:hover {
  background-color: azure;
}

@media (max-width: 991px) {
  .footer-row {
    text-align: center;
  }
  .footer-links {
    width: 100%;
    margin-bottom: 30px;
  }
}
body {
  background-color: rgb(207, 229, 243);
}

.politica {
  width: 100%;
  justify-content: center;
  text-align: left;
  text-decoration: none;
  flex-direction: row;
}

.blue {
  color: blue;
}

.yellow {
  color: yellow;
}

.black {
  color: black;
}

.red {
  color: red;
}

img {
  width: 220px;
  height: 200px;
  object-fit: cover;
}

/*# sourceMappingURL=styles.css.map */



/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}




/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}


.hidden{
    display: none;
}