@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: white;
  color: rgb(79, 20, 138);
}

img {
  width: 220px;
  height: 200px;
  object-fit: cover;
}

nav {
  background-color: rgb(244, 148, 225);
  object-fit: cover;
  width: 100%;
  z-index: 1;
  /*fijar navegador
  position: fixed;
  width: 100%;
  */
}

.navegador .fa-bars {
  display: none;
}

@media (max-width: 768px) {
  .navegador {
    background-color: #c749e7;
    z-index: 2;
  }
  .navegador .fa-bars {
    margin: 10px;
    font-size: 35px;
    color: #460d43;
    order: -1;
    display: block;
  }
  .navegador .fa-bars:hover + ul {
    left: 0;
  }
  .navegador ul {
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 100vh;
    background-color: #f1b7e7;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    transition: 0.5s;
  }
  .navegador ul:hover {
    left: 0;
  }
}
.navegador {
  position: sticky;
  /*position: fixed;*/
  top: 0%;
  display: flex;
  justify-content: space-between;
}
.navegador ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.navegador ul li a {
  color: rgb(158, 4, 150);
  text-decoration: none;
  padding: 10px;
  text-decoration: solid;
}
.navegador img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50px;
  margin: 5px;
}

.spa-whats {
  position: fixed;
  height: 55px;
  width: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: rgb(234, 62, 159);
  color: azure;
  border-radius: 50px;
  text-align: center;
  font-size: 40px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  object-fit: cover;
}

.spa-whats:hover {
  text-decoration: none;
  color: rgb(246, 4, 166);
  background: white;
}

.content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

.logo {
  text-align: center;
  font-size: 3em;
}
.logo span {
  color: rgb(241, 53, 251);
}

.contact-wraper {
  box-shadow: 0 0 20px 0 rgba(253, 8, 8, 0.3);
}

.contact-wraper > * {
  padding: 1em;
}

.contact-form {
  background: rgb(255, 197, 245);
}
.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-form form .block {
  grid-column: 1/3;
}
.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  color: blueviolet;
  border-bottom: 1px solid purple;
}

.contact-form form button {
  background: rgb(178, 71, 173);
  color: white;
  text-transform: uppercase;
  padding: 1em;
}
.contact-form form button:hover {
  background: rgb(115, 56, 198);
  color: rgb(255, 0, 136);
  transition: background-color 0.5s ease-out;
}

.contact-info {
  background: rgb(228, 124, 228);
}
.contact-info ul {
  list-style: none;
  padding: 0;
}
.contact-info ul li {
  padding: 0.3em;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

@media (min-width: 700px) {
  body {
    padding: 0 4rem;
  }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    padding: 1em;
    text-align: left;
  }
}
.video-danza {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.grid-padre {
  display: grid;
  margin: 10px;
  gap: 10px;
  object-fit: cover;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(6, 200px);
  grid-template-areas: "img1 img1 img2 img3" "img1 img1 img4 img4" "img5 img7 img7 img8" "img6 img7 img7 img8" "img9 img9 img9 img8" "img10 img11 img11 img12";
}

.img1 {
  grid-area: img1;
  background-image: url(../multimedia/img/Spanda.jpg);
  background-size: cover;
  color: rgb(216, 11, 79);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.img1 h3 {
  font-size: 32px;
}

.img1 p {
  font-size: 20px;
  text-align: center;
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.img5 {
  grid-area: img5;
}

.img6 {
  grid-area: img6;
}

.img7 {
  grid-area: img7;
}

.img8 {
  grid-area: img8;
}

.img9 {
  grid-area: img9;
}

.img10 {
  grid-area: img10;
}

.img11 {
  grid-area: img11;
}

.img12 {
  grid-area: img12;
}

.grid-padre img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.proximos-talleres {
  text-align: center;
  color: #b2089c;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.container-hero {
  background-color: rgb(233, 122, 225);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.hero i {
  font-size: 3rem;
}

.customer-support {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.content-customer-support {
  display: flex;
  flex-direction: column;
}

.container-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.container-logo i {
  font-size: 3rem;
}
.container-logo h1 a {
  text-decoration: none;
  color: rgb(131, 6, 153);
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.container-user {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
.container-user .fa-user {
  font-size: 3rem;
  color: rgb(77, 3, 113);
  padding-right: 2.5rem;
  border-right: 1px solid black;
}
.container-user .fa-basket-shopping {
  font-size: 3rem;
  color: rgb(77, 3, 113);
  padding-left: 1rem;
}

.content-shopping-cart {
  display: flex;
  flex-direction: column;
}

/*nb*/
.container-navbar {
  background-color: rgb(221, 88, 224);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.navbar .fa-bars {
  display: none;
}

.menu {
  display: flex;
  gap: 2rem;
}
.menu li {
  list-style: none;
}
.menu a {
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}
.menu a::after {
  content: "";
  width: 1.5rem;
  height: 1px;
  background-color: aliceblue;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
  transition: all 0.3s ease;
}
.menu a:hover::after {
  opacity: 1;
}
.menu a:hover {
  color: aliceblue;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
  height: 4.4rem;
}
.search-form input {
  outline: none;
  font-family: inherit;
  border: none;
  border-radius: 2rem;
  width: 25rem;
  font-size: 1.4rem;
  padding: 0 2rem;
  color: rgb(193, 10, 190);
  cursor: pointer;
}
.search-form input::-webkit-search-cancel-button {
  appearance: none;
}
.search-form .btn-search {
  border: none;
  font-size: 20px;
  color: aliceblue;
  border-radius: 100%;
  background-color: rgb(218, 122, 233);
  display: flex;
  align-items: center;
  height: 2.75rem;
  width: 2.75rem;
  padding: 1rem;
}

.banner {
  background-image: linear-gradient(100deg, rgba(0, 0, 0, 0.742), rgba(186, 166, 166, 0.079)), url(../multimedia/img/primavera.jpg);
  height: 60rem;
  background-size: cover;
  background-position: center;
}

.content-banner {
  max-width: 90rem;
  margin: 0 auto;
  padding: 25rem 10rem;
}
.content-banner p {
  color: blueviolet;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
.content-banner h2 {
  color: rgb(195, 0, 255);
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.content-banner a {
  margin-top: 2rem;
  text-decoration: none;
  color: rgb(254, 250, 255);
  background-color: rgb(209, 113, 194);
  display: inline-block;
  padding: 1rem 3rem;
  text-transform: uppercase;
  border-radius: 3rem;
}

.container-features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 3rem 0;
}

.card-feature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: rgb(255, 198, 247);
  border-radius: 1rem;
  padding: 1.5rem 1;
}
.card-feature i {
  font-size: 2rem;
  color: blueviolet;
  padding: 3px;
}

.feature-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.feature-content span {
  font-weight: 700;
  font-size: 1rem;
  color: rgb(200, 15, 224);
}
.feature-content p {
  color: rgb(20, 23, 203);
  font-weight: 700;
  font-size: 10px;
}

.quienes-somos {
  justify-content: space-around;
  margin: 15px;
}

.detras-magia {
  justify-content: space-around;
  margin: 15px;
}

.inspiracion {
  justify-content: space-around;
  margin: 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  background-color: rgb(255, 165, 225);
  padding: 80px 0;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-links {
  width: 25%;
  padding: 0 15px;
}
.footer-links h4 {
  font-size: 20px;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid;
  padding-bottom: 10px;
  display: inline-block;
}
.footer-links ul li {
  list-style: none;
}
.footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #640954;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
.footer-links ul li a:hover {
  color: rgb(252, 252, 252);
  padding-left: 6px;
}

.social-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgb(219, 158, 234);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: rgb(161, 0, 137);
  transition: all 0.5s ease;
}
.social-link a:hover {
  background-color: azure;
}

@media (max-width: 991px) {
  .footer-row {
    text-align: center;
  }
  .footer-links {
    width: 100%;
    margin-bottom: 30px;
  }
}
body {
  background-image: url(../multimedia/img/fondo\ de\ pantalla.jpeg);
}

.politica {
  width: 100%;
  justify-content: center;
  text-align: left;
  text-decoration: none;
  flex-direction: row;
}

.blue {
  color: blue;
}

.yellow {
  color: yellow;
}

.black {
  color: black;
}

.red {
  color: red;
}

img {
  width: 220px;
  height: 200px;
  object-fit: cover;
}

/*# sourceMappingURL=styles.css.map */
