@mixin button ($bg,$width){
    background-color: $bg;
    color: #fff;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    width: $width;
    object-fit: center;
  }
  img{
    width: 220px;
    height: 200px;
    object-fit: cover;
  }