nav{
    background-color: $bg-color;
    object-fit: cover;
    width: 100%;
    /*fijar navegador
    position: fixed;
    width: 100%;
    */
}
.navegador .fa-bars{
    display: none;
}
@media(max-width:768px){
    .navegador{
        background-color: #0bb41f;
    }
    .navegador .fa-bars{
        margin: 10px;
        font-size: 35px;
        color: #ee33bf;
        order: -1;
        display: block;
    }
    .navegador .fa-bars:hover + ul{
        left: 0;
    }
    .navegador ul{
        position: fixed;
        top: 0;
        left: -300px;
        width: 250px;
        height: 100vh;
        background-color: #f1b7e7;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        transition: 0.5s;
    }
    .navegador ul:hover{
        left: 0;
    }

}
.navegador {
    position: sticky;
    /*position: fixed;*/
    top: 0%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
        ul{
            list-style: none;
            display: flex;
            align-items: center;
            li a{
                color: rgb(158, 4, 117);
                font-size: 1.1rem;
                text-decoration: none;
                padding: 10px;
                text-decoration: solid;
            }
        }
}
.search-form{
    position: relative;
    display: flex;
    align-items: center;
    height: 4.0rem;
    z-index: -1;
    input{
        outline: none;
        font-family: inherit;
        border: none;
        border-radius: 2rem;
        width: 25rem;
        font-size: 1.4rem;
        padding: 0 2rem;
        color: rgb(255, 0, 0);
        cursor: pointer;
        &::-webkit-search-cancel-button{
            appearance: none;
        }
    }
    .btn-search{
        border: none;
        font-size: 20px;
        color: aliceblue;
        border-radius: 100%;
        background-color: rgb(198, 75, 217);
        display: flex;
        align-items: center;
        height: 2.75rem;
        width: 2.75rem;
        padding: 1rem;
        &:hover{
            color: #ee33bf;
            background-color: aqua;
        }
    }
}