nav{
    background-color: $bg-color;
    object-fit: cover;
    width: 100%;
    z-index: 1;
    /*fijar navegador
    position: fixed;
    width: 100%;
    */
}
.navegador .fa-bars{
    display: none;
}
@media(max-width:768px){
    .navegador{
        background-color: #7649e776;
        z-index: 2;
    }
    .navegador .fa-bars{
        margin: 10px;
        font-size: 35px;
        color: #3e0c31;
        order: -1;
        display: block;
    }
    .navegador .fa-bars:hover + ul{
        left: 0;
    }
    .navegador ul{
        position: fixed;
        top: 0;
        left: -300px;
        width: 250px;
        height: 100vh;
        background-color: #f1b7e7;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        transition: 0.5s;
    }
    .navegador ul:hover{
        left: 0;
    }

}

.navegador {
    position: sticky;
    /*position: fixed;*/
    top: 0%;
    display: flex;
    justify-content: space-between;
        ul{
            list-style: none;
            display: flex;
            align-items: center;
            li a{
                color: rgb(117, 4, 158);
                text-decoration: none;
                padding: 10px;
                text-decoration: solid;
            }
        }
    img{
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50px;
        margin: 5px;

    }
}