.quienes-somos{
    justify-content: space-around;
    margin: 15px;  
}
.detras-magia{
    justify-content: space-around;
    margin: 15px;
}
.inspiracion{
    justify-content: space-around;
    margin: 15px;
}