.container{
    max-width: 120rem;
    margin: 0 auto;
}
.heading-1{
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}
.container-hero{
    background-color: rgb(233, 122, 225);
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    i{
        font-size: 3rem;
    }
}
.customer-support{
    display: flex;
    align-items: center;
    gap: 2rem;
    
}
.content-customer-support{
    display: flex;
    flex-direction: column;
}
.container-logo{
    display: flex;
    align-items: center;
    gap: .5rem;
    img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
    h1 a{
        text-decoration: none;
        color: rgb(228, 38, 162);
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: -1px;
    }
}
.container-user{
    display: flex;
    gap: 1rem;
    cursor: pointer;
    .fa-user{
        font-size: 2rem;
        color: rgb(171, 28, 223);
        padding-right: 1.1rem;
        padding-left: 2.0rem;
        border-right: 1px solid rgb(247, 24, 136);
    }
    .fa-basket-shopping{
        font-size: 2rem;
        color: rgb(171, 28, 223);
        padding-left: .1rem;
    }
}
.content-shopping-cart{
    display: flex;
    flex-direction: column;
}

/*nb*/
.container-navbar{
    background-color: rgb(221, 88, 224);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    .fa-bars{
        display: none;
    }
}
.menu{
    display: flex;
    gap: 2rem;
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        font-size: 1.3rem;
        color: rgb(235, 35, 218);
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        &::after{
            content: '';
            width: 1.5rem;
            height: 1px;
            background-color: aliceblue;
            position: absolute;
            bottom: -3px;
            left: 50%;
            transform: translate(-50%, 50%);
            opacity: 0;
            transition: all .3s ease;
        }
        &:hover::after{
            opacity: 1;
        }
        &:hover{
            color: aliceblue;
        }
    }
}
.banner{
    background-image: linear-gradient(100deg, rgba(0, 0, 0, 0.742), rgba(186, 166, 166, 0.079)), url(../multimedia/img/primavera.jpg);
    height: 60rem;
    background-size: cover;
    background-position: center;
}
.content-banner{
    max-width: 90rem;
    margin: 0 auto;
    padding: 25rem 10rem;
    p{
        color: blueviolet;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        font-weight: 500;
    }
    h2{
        color: rgb(195, 0, 255);
        font-size: 3.5rem;
        font-weight: 500;
        line-height: 1.2;
    }
    a{
        margin-top: 2rem;
        text-decoration: none;
        color: rgb(254, 250, 255);
        background-color: rgb(209, 113, 194);
        display: inline-block;
        padding: 1rem 3rem;
        text-transform: uppercase;
        border-radius: 3rem;
    }
}
.container-features{
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: 3rem;
    padding: 3rem 0;
}
.card-feature{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: rgb(249, 161, 236);
    border-radius: 1rem;
    padding: 1.5rem 1;
    i{
        font-size: 2.0rem;
        color: rgb(202, 43, 226);
        padding: 3px;
    }
}
@media(max-width:991px){
    .card-feature{
        display: none;
        
    }
}
.feature-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    span{
        font-weight: 700;
        font-size: 1.0rem;
        color: rgb(196, 15, 224);
    }
    p{
        color: rgb(240, 64, 196);
        font-weight: 500;
        font-size: 10px;
    }
}
.top-categories{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 10rem;
    .container-categories{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }
}
.card-category{
    height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 2rem;
    p{
        font-size: 2.5rem;
        color: white;
        text-transform: capitalize;
        position: relative;
        &::after{
            content: '';
            width: 2.5rem;
            height: 2px;
            background-color: aqua;
            position: absolute;
            bottom: -1rem;
            left: 50%;
            transform: translate(-50%, 50%);
        }
    }
    span{
        font-size: 1.6rem;
        color: rgb(255, 255, 255);
        cursor: pointer;
        &:hover{
            color: blue;
        }
    }
}
.category-velas{
    background-image: linear-gradient(#ab5c5c88, #f5d1d11c), url(../multimedia/img/velas.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none;
}
.category-aceites{
    background-image: linear-gradient(#ab5c5c88, #f5d1d11c), url(../multimedia/img/verano.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none;
}
.category-ceras{
    background-image: linear-gradient(#ab5c5c88, #f5d1d11c), url(../multimedia/img/kits\ iniciales.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none;
}
.top-products{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
    padding: 15px;
}
.container-options{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
    span{
        color: rgb(238, 0, 255);
        background-color: rgb(255, 165, 232);
        padding: .7rem 3rem;
        font-size: 1.4rem;
        text-transform: capitalize;
        border-radius: 2rem;
        cursor: pointer;
        &:hover{
            background-color: rgb(238, 0, 255);
            color: rgb(255, 165, 232);
        }
        &.active{
            background-color: rgb(238, 0, 255);
            color: rgb(255, 165, 232);
        }
    }
}
@media(max-width:991px){
    .container-options{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
.container-products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
}
.card-product{
    background-color: rgb(253, 200, 248);
    padding: 2rem 3rem;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgb(255, 2, 242);
    &:hover{
        .discount{
            background-color: rgb(149, 0, 255);
            color: white;
        }
        .button-group{
            z-index: 0;
            right: -2.9rem;
        }
    }
}
.button-group{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: -3.0rem;
    z-index: -1;
    transition: all .4s ease;
    span{
        border: 1px solid black;
        padding: .8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        transition: all .4s ease;
        &:hover{
            background-color: rgb(183, 43, 226);
            color: whitesmoke;
        }
        i{
            font-size: .9rem;
            color: rgb(255, 255, 255);
        }
    }
}
.container-img{
    position: relative;
    img{
        width: 100%;
        z-index: 0;
    }
    .discount{
        position: absolute;
        left: 0;
        background-color: aqua;
        color: rgb(29, 1, 1);
        padding: 2px 1.2rem;
        border-radius: 1rem;
        font-size: 1.2rem;
    }
}
.content-card-product{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 1rem;
    h3{
        grid-row: 2/3;
        grid-column: 1/-1;
        font-weight: 400;
        font-size: 1.6rem;
        margin-bottom: 1rem;
        cursor: pointer;
        &:hover{
            color: blue;
        }
    }
    .price{
        justify-self: end;
        align-self: center;
        font-size: 1.4rem;
        font-weight: 600;
        span{
            font-size: 1.2rem;
            font-weight: 200;
            text-decoration: line-through;
            color: rgb(182, 124, 240);
            margin-left: .5rem;
        }
    }
}
.stars{
    grid-row: 1/2;
    grid-column: 1/-1;
    i{
        font-size: 1.3rem;
        color: rgb(175, 2, 218);
    }
}
.add-cart{
    justify-self: start;
    border: 2px solid rgb(232, 61, 212);
    padding: 1.7rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(217, 0, 255);
    color: aliceblue;
    &:hover{
        color: rgb(217, 0, 255);
        background-color: aliceblue;
    }
    i{
        font-size: 1.5rem;
    }
}