.container{
    max-width: 120rem;
    margin: 0 auto;
}
.container-hero{
    background-color: rgb(233, 122, 225);
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    i{
        font-size: 3rem;
    }
}
.customer-support{
    display: flex;
    align-items: center;
    gap: 2rem;
    
}
.content-customer-support{
    display: flex;
    flex-direction: column;
}
.container-logo{
    display: flex;
    align-items: center;
    gap: .5rem;
    i{
        font-size: 3rem;
    }
    h1 a{
        text-decoration: none;
        color: rgb(153, 6, 6);
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: -1px;
    }
}
.container-user{
    display: flex;
    gap: 1rem;
    cursor: pointer;
    .fa-user{
        font-size: 3rem;
        color: rgb(77, 3, 113);
        padding-right: 2.5rem;
        border-right: 1px solid black;
    }
    .fa-basket-shopping{
        font-size: 3rem;
        color: rgb(77, 3, 113);
        padding-left: 1rem;
    }
}
.content-shopping-cart{
    display: flex;
    flex-direction: column;
}

/*nb*/
.container-navbar{
    background-color: rgb(221, 88, 224);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    .fa-bars{
        display: none;
    }
}
.menu{
    display: flex;
    gap: 2rem;
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        font-size: 1.3rem;
        color: black;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        &::after{
            content: '';
            width: 1.5rem;
            height: 1px;
            background-color: aliceblue;
            position: absolute;
            bottom: -3px;
            left: 50%;
            transform: translate(-50%, 50%);
            opacity: 0;
            transition: all .3s ease;
        }
        &:hover::after{
            opacity: 1;
        }
        &:hover{
            color: aliceblue;
        }
    }
}
.search-form{
    position: relative;
    display: flex;
    align-items: center;
    height: 4.4rem;
    input{
        outline: none;
        font-family: inherit;
        border: none;
        border-radius: 2rem;
        width: 25rem;
        font-size: 1.4rem;
        padding: 0 2rem;
        color: rgb(193, 10, 190);
        cursor: pointer;
        &::-webkit-search-cancel-button{
            appearance: none;
        }
    }
    .btn-search{
        border: none;
        font-size: 20px;
        color: aliceblue;
        border-radius: 100%;
        background-color: rgb(218, 122, 233);
        display: flex;
        align-items: center;
        height: 2.75rem;
        width: 2.75rem;
        padding: 1rem;
    }
}
.banner{
    background-image: linear-gradient(100deg, rgba(0, 0, 0, 0.742), rgba(186, 166, 166, 0.079)), url(../multimedia/img/primavera.jpg);
    height: 60rem;
    background-size: cover;
    background-position: center;
}
.content-banner{
    max-width: 90rem;
    margin: 0 auto;
    padding: 25rem 10rem;
    p{
        color: blueviolet;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        font-weight: 500;
    }
    h2{
        color: rgb(195, 0, 255);
        font-size: 3.5rem;
        font-weight: 500;
        line-height: 1.2;
    }
    a{
        margin-top: 2rem;
        text-decoration: none;
        color: rgb(254, 250, 255);
        background-color: rgb(209, 113, 194);
        display: inline-block;
        padding: 1rem 3rem;
        text-transform: uppercase;
        border-radius: 3rem;
    }
}
.container-features{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 3rem 0;
}
.card-feature{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: rgb(3, 118, 14);
    border-radius: 1rem;
    padding: 1.5rem 1;
    i{
        font-size: 2.0rem;
        color: rgb(226, 43, 43);
        padding: 3px;
    }
}
.feature-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    span{
        font-weight: 700;
        font-size: 1.0rem;
        color: rgb(224, 15, 18);
    }
    p{
        color: rgb(93, 170, 29);
        font-weight: 500;
        font-size: 10px;
    }
}
.top-categories{
    display: flex;
    flex-direction: column;
    gap: 10rem;
    margin-bottom: 10rem;
    .container-categories{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }
}
