
/*fin spa whats*/
/*...fin main...*/
/* productos*/
.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .productos-venta {
    width: 250px;
    border: 2px solid blueviolet;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    color: blueviolet;
    border: solid #eeb4ef;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(246, 231, 243);
    object-fit: cover;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: baseline;
    /*overflow-y: scroll;*/
    h4 {
        font-size: 20px;
      }
      p {
        color: rgb(80, 60, 164);
      }
      ul li {
        list-style: none;
      }
      button {
        background-color: rgb(247, 93, 175);
        color: #fff;
        padding: 5px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        width: 100%;
        object-fit: center;
      }
      img{
        width: 220px;
        height: 200px;
        object-fit: cover;
      }
  }