.video-danza{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.titulo{
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.carousel-item{
    img{
        height: 35rem;
        position: relative;
        background-position: center;
        background-size: cover;
        object-fit: cover;
        padding-bottom: 20px;
    }

}
.titulo-talleres{
    text-align: center;
    font-size: 50px;
}