.spa-whats{
    position: fixed;
    height: 55px;
    width: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: rgb(246, 4, 166);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
    object-fit: cover;
}
.spa-whats:hover{
    text-decoration: none;
    color: rgb(246, 4, 166);
    background: rgb(255, 255, 255);
}